################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CustomMiddlewareCoreExample/.vs/CustomMiddlewareCoreExample/v16/Server/sqlite3
